@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green: #1d6517;
  --darkgreen: #054204;
  --softgreen: #79b425;
  --lightgreen: #c0de7b;
  --blue: #55a6c3;
  --text: #222222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}
